.ven-btn-success {
  color: #fff;
  background-color: #34a853;
  border-color: #34a853;
}
.ven-btn {
  box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
  border: 1px solid transparent;
  padding: 0 10px;
  font-size: 13px;
  line-height: 28px;
  border-radius: 2px;
}
.ven-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ven-btn-success:hover {
  box-shadow: inset 0 -1px 0 #288140;
  background-color: #36b057;
  border-color: #36b057 #36b057 #288140;
}

.ven-btn-success:active{
  color: #fff;
  box-shadow: inset 0 2px 0 #288140;
  background-color: #2d9147;
  border-color: #206632 #2d9147 #2d9147;
  background-image: none;
}

.ven-btn-lg {
  line-height: 38px;
}
